// * colors


$vivid-violet: #87509C;
$flamenico: #EB7D4B;
$eminence: #643A78;
$puerto-rico: #51C3A5;
$aqua-squeeze: #E7F1F8;
$jumbo: #878787;
$east-bay: #47526B;
$cello: #3B4761;
$picton-blue: #4EC2E9;
$cherokee: #FBDC99;
$marzipan: #EBC985;
$cranberry: #D74680;
$monsoon: #787878;
$white: #ffffff;
$sapphire: #3C5499;
$astronaut: #263A71;
$chambray: #344B8E;
$zest: #C86A40;
$gossamer: #43A68D;
