// * colors


$vivid-violet: #87509C;
$flamenico: #EB7D4B;
$eminence: #643A78;
$puerto-rico: #51C3A5;
$aqua-squeeze: #E7F1F8;
$jumbo: #878787;
$east-bay: #47526B;
$cello: #3B4761;
$picton-blue: #4EC2E9;
$cherokee: #FBDC99;
$marzipan: #EBC985;
$cranberry: #D74680;
$monsoon: #787878;
$white: #ffffff;
$sapphire: #3C5499;
$astronaut: #263A71;
$chambray: #344B8E;
$zest: #C86A40;
$gossamer: #43A68D;
$botticelli: #C8D9E5;
$cadet: #535E75;
$beau-blue: #BDD1DF;
$waikawa-gray: #5D6CA2;
$montana: #393939;
$chalky: #E5C37F;
$carribean-green: #00C9A6;
$persian-green: #00AB8E;
$dogwood-rose: #C31C6A;
$golden-glow: #FFDE92;
