.contact {
  background-color: $sapphire;
  height: 51.25rem; // 820/16
}

.contact-header {
  color: $white;
}

.contact-line {
  background-color: $astronaut;
  border: none;
  height: 0.25rem; // 4/16
  margin-bottom: 1.5625rem; // 25/16
  width: 5.625rem; // 90/16
}
