.contact {
  background-color: $sapphire;
  height: 51.25rem; // 820/16
}

.contact-header {
  color: $white;
}

.contact-line {
  background-color: $astronaut;
  border: none;
  height: 0.25rem; // 4/16
  margin-bottom: 1.5625rem; // 25/16
  width: 5.625rem; // 90/16
}

.footer-social-link {
  color: $white;
  display: inline-block;
  margin-left: 3.125rem; // 50/16
  margin-top: 2.5rem; // 40/16
}

a .footer-social-link:hover {
  color: $picton-blue;
}
