.main-nav {
  margin-top: 3.4375rem; 
  position: relative;

  .list-item {
    color: $white;
    display: inline-block;
    text-decoration: none;
    transition: all 240ms ease-out;
    margin-right: 3.125rem; //50/16
  }

   a:hover,
   a.current {
      border: 1px solid $eminence;
      border-radius: 3px;
      background-color: $eminence;
      padding: 0.3125rem 1.25rem; // 5/16 20/16
  }

  li {
    display: inline-block;
    margin-right: 2.1875rem; // 35/16
    text-decoration: none;

    + li {
      margin-left: 1rem;
    }
  }
}

