.main-footer {
  background-color: $chambray;
  height: 7rem; // 112/16 
}

.footer-line {
  background-color: $waikawa-gray;
  color: $waikawa-gray;
  border: 0;
  border-top: 2px dashed;
  margin: 0;
}
