.main-nav {
  float: right;
  margin-top: 55px;

  li {
    display: inline-block;
    margin-right: 35px;
    text-decoration: none;

    + li {
      margin-left: 1rem;
    }
  }
}

.last-item {
  margin-right: 50px;
}


@media only screen and (min-width: 320px) and (max-width: 970px) {
  .main-nav {
    float: none;
    }

  .main-nav li {
    display: inline-block;
  }
}

@media only screen and (min-width: 860px) {
  .main-nav {
    a {
      color: $white;
      display: inline-block;
      text-decoration: none;
      transition: all 240ms ease-out;
    }

    a:hover,
    a.current {
      border: 1px solid $eminence;
      border-radius: 3px;
      background-color: $eminence;
      padding: 5px 20px;
    }
  }
}
