.main-nav {
  float: right;
  margin-top: 3.4375rem; // 55/16
}
    a {
    color: $white;
    display: inline-block;
    text-decoration: none;
    transition: all 240ms ease-out;

}
    a:hover,
    a.current {
    border: 1px solid $eminence;
    border-radius: 3px;
    background-color: $eminence;
    padding: 0.3125rem 1.25rem; // 5/16 20/16
}

  li {
    display: inline-block;
    margin-right: 2.1875rem; // 35/16
    text-decoration: none;

    + li {
      margin-left: 1rem;
    }
  }

.last-item {
  margin-right: 3.125rem; //50/16
}


@media only screen and (max-width: 969px) and (min-width: 320px) {
  .main-nav {
    float: none;
    margin: auto;
    padding: 0;
    width: 50%;
    }

  .main-nav li {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 5px;
    text-align: center;
  }

  .main-nav a {
    clear: both;
    color: $white;
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
  }

  a:current {
    border: none;
  }

}

//@media only screen and (max-width: 970px) {
  //.main-nav {
  //  float: right;

  //  a {
      //color: $white;
      //display: inline-block;
    //  text-decoration: none;
      //transition: all 240ms ease-out;


    //a:hover,
    //a.current {
      //border: 1px solid $eminence;
      //border-radius: 3px;
      //background-color: $eminence;
      //padding: 0.3125rem 1.25rem; // 5/16 20/16
    //  }
  //  }
//  }
//}
