.main-header {
  background-color: $vivid-violet;
  height: 6.25rem;  // 100/16
  margin: 0;
  position: fixed;
  width: 100%;

}

.logo-image {
  display: inline-block;
  margin: 3.125rem 0 0 13.1875rem; // 50/16 211/16
}

@media only screen and (min-width: 320px) and (max-width: 970px) {
  .logo-image {
    display: block;
    margin: 3.125rem auto;
    position: relative;
    text-align: center;
  }
}
