.main-header {
  background-color: $vivid-violet;
  height: 6.25rem;  // 100/16
  margin: 0;
  width: 100%;
  z-index: 1;
}

.logo-image {
  display: inline-block;
  margin: 3.125rem 0 0 13.1875rem; // 50/16 211/16
}

@media (min-width: 52em) {
  .logo-image {
    text-align: center;
  }
}
