.main-nav {
  float: right;
  margin-top: 3.4375rem; // 55/16

  li {
    display: inline-block;
    margin-right: 2.1875rem; // 35/16
    text-decoration: none;

    + li {
      margin-left: 1rem;
    }
  }
}

.last-item {
  margin-right: 3.125rem; //50/16
}


@media only screen and (min-width: 320px) and (max-width: 640px) {
  .main-nav {
    float: none;
    }

  .main-nav li {
    display: inline-block;
    padding: 0;
  }

  .main-nav a {
    color: $white;
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
  }
}

@media only screen and (min-width: 860px) {
  .main-nav {
    a {
      color: $white;
      display: inline-block;
      text-decoration: none;
      transition: all 240ms ease-out;
    }

    a:hover,
    a.current {
      border: 1px solid $eminence;
      border-radius: 3px;
      background-color: $eminence;
      padding: 0.3125rem 1.25rem; // 5/16 20/16
    }
  }
}
