.portfolio {
  background-color: $cherokee;
  color: $montana;
  height: 1424px;
  margin: 0;
}

.portfolio-header {
  display: block;
  margin-top: 115px;
}

.portfolio-line {
  background-color: $chalky;
  border: none;
  height: 0.25rem; // 4/16
  margin-bottom: 1.5625rem; // 25/16
  width: 5.625rem; // 90/16
}

.portfolio-caption {
  margin: 0 auto;
  width: 519px;
}

.portfolio-menu {
  margin: 0 auto;
  padding-top: 45px;
  text-align: center;
  width: 25%;
}

.menu-link {
  background-color: $marzipan;
  border: 1px;
  border-radius: 4px;
  color: $montana;
  margin-left: 10px;
  padding: 5px;

    a::selection {
    background-color: $white;
  }
}

.menu-link a {
  color: $montana;
  text-decoration: none;
}
