.portfolio {
  background-color: $cherokee;
  color: $montana;
  height: 1424px;
  margin: 0;
}

.portfolio-header {
  display: block;
  margin-top: 115px;
}

.portfolio-line {
  background-color: $chalky;
  border: none;
  height: 0.25rem; // 4/16
  margin-bottom: 1.5625rem; // 25/16
  width: 5.625rem; // 90/16
}

.portfolio-caption {
  margin: 0 auto;
  width: 519px;
}

.portfolio-menu {
  margin: 0 auto;
  padding-top: 45px;
  text-align: center;
  width: 25%;
}

.portfolio-button {
  background-color: $marzipan;
  border: 1px;
  border-radius: 4px;
  color: $montana;
  margin-left: 10px;
  padding: 10px;
  width: 80px;
}

.portfolio-button:hover {
  background: $white;
}

.portfolio-button a {
  color: $montana;
  text-decoration: none;
}

.image-wrapper {
  position: relative;
  margin-top: 65px;
}

.isometric-caption,
.time-zone-caption {
  margin-top: 30px;
  margin-bottom: 60px;
}

.media-player-caption,
.blog-caption {
  margin-top: 30px;
}
